#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
  padding: 16px;
}

SelectInput {
  padding: 8px;
  font-size: 16px;
}

.controls {
  display: flex;
  gap: 12px;
}

canvas {
  height: 600px !important;
  background: black;
}

button {
  padding: 10px;
  font-size: 16px;
}

select {
  padding: 8px;
  font-size: 14px;
}